In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('inspectionData_04082020.xlsx')

In [3]:
df.head()

,bu,structureID,area,region,siteName,structType,ACQ_Port,addressLine1,addressLine2,city,...,pre-ConstructionSiteWalk3_CM,pre-ModSiteWalk_CM_or_FOT,towerMaintenance,vegetation1,vegetation2,TIA_ClimbedInspection,constructionGC1,constructionGC2,constructionGC3,towerModificationVendor_or_Inspector
0,805761,A,STA,Texas,TX 143 PLANO,GUYED,ABN,670 Fulgham Rd.,NaN,Plano,...,-,-,2020-02-24 00:00:00,2020-04-09 00:00:00,2020-09-25 00:00:00,-,-,-,-,-
1,805762,A,STA,Texas,TX 144 FORNEY,GUYED,ABN,10655 FM 740,NaN,Forney,...,-,-,2020-04-04 00:00:00,2020-04-04 00:00:00,2020-10-13 00:00:00,-,-,-,-,-
2,805763,A,STA,Texas,TX 145 SHERMAN,GUYED,ABN,Dripping Springs Road,NaN,Denison,...,-,-,2020-10-31 00:00:00,2020-04-06 00:00:00,2020-09-21 00:00:00,-,2020-11-30 00:00:00,-,-,-
3,805764,A,STA,Texas,TX 146 MCKINNEY,GUYED,ABN,5259 Alma,NaN,McKinney,...,2020-09-30 00:00:00,2020-12-01 00:00:00,2020-08-07 00:00:00,2020-04-19 00:00:00,2020-10-30 00:00:00,-,2020-04-11 00:00:00,2020-11-02 00:00:00,2020-10-30 00:00:00,2020-12-31 00:00:00
4,805765,A,STA,Texas,TX 147 DENTON,GUYED,ABN,903 South Mayhill Road,NaN,Denton,...,-,-,2020-08-23 00:00:00,2020-04-27 00:00:00,2020-09-07 00:00:00,-,2020-06-14 00:00:00,2020-07-04 00:00:00,-,-

In [4]:
de = pd.read_csv('distance_fot_bu.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
dg = pd.read_csv('duration_fot_bu.csv')

In [6]:
de.head()

,bu,Abilene,Albuquerque,Aliquippa,Anaheim1,Anaheim2,Appleton,Arlington,Arnaudville,Athol,...,waxhaw,Weslaco,West Fargo,West Jordan,Weston,Whitehall,Whitehouse,Williamston,Willis,Winder
0,5800001,885.626,1194.37,535.355,1983.95,1973.18,512.185,715.778,677.278,1089.2,...,587.571,1247.06,956.241,1485.97,442.389,1681.33,661.384,463.823,782.872,444.485
1,5800002,664.38,1028.77,776.565,1818.35,1807.58,747.752,494.531,425.699,1297.98,...,621.404,1025.82,1071.48,1548.86,505.284,1744.23,440.137,749.644,561.626,412.423
2,5800003,1126.44,1490.83,420.038,2280.41,2269.64,787.489,956.593,806.79,813.544,...,178.726,1365.76,1241.64,1883.53,839.946,2059.78,902.199,556.721,982.885,238.006
3,5800004,1042.42,1412.95,471.082,2202.53,2191.76,664.376,872.576,763.631,947.335,...,317.943,1322.6,1118.53,1760.41,716.834,1936.66,818.183,481.457,939.671,262.136
4,5800005,783.886,472.097,2039.77,460.105,448.782,1803.04,949.716,1309.99,2589.92,...,2007.8,1152.44,1661.95,753.64,1223.4,1170.69,1075.18,1936.42,1113.96,1798.81

In [7]:
df1 = df.merge(de, left_on = 'bu', right_on = 'bu', how = 'inner')

In [8]:
df2 = df1.merge(dg, left_on = 'bu', right_on = 'bu', how = 'inner')

In [9]:
df2.to_csv('inspection_data_dis_dur.csv')